<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin">Panel administracyjny - dodaj film</h1>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <form th:action="@{/add-movie}" method="post">
                <div class="grid-container">
                    <tr>
                        <td>
                            <input class="text-input-style" type="text" name="imdbId" pattern="^tt\d{5,8}$"
                                   placeholder="Wpisz IMDB ID [tt642624]" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="title" placeholder="Wpisz tytuł filmu" required></td>
                    </tr>
                    <select class="text-input-style" name="releaseYear" required>
                        <option value="">Wybierz rok emisji</option>
                        <option th:each="year : ${#numbers.sequence(1950, 2024)}"
                                th:value="${year}"
                                th:text="${year}">1900</option>
                    </select>
                    <tr>
                        <td><input class="text-input-style" type="text" name="imageUrl"
                                   pattern="^(https?://www\.|https?://|www\.)\S+" placeholder="Wpisz adres URL zdjęcia głownego"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="backgroundImageUrl"
                                   pattern="^(https?://www\.|https?://|www\.)\S+" placeholder="Wpisz adres URL zdjęcia w tle"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="mediaUrl"
                                   pattern="^(https?://www\.|https?://|www\.)\S+" placeholder="Wpisz URL do filmu" required>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="timeline"
                                   pattern="^(?:[1-9]|[1-9][0-9]|1[0-9]{2}|2[0-3][0-9]|240)$"
                                   placeholder="Czas trwania [min]" required></td>
                    </tr>
                    <select class="text-input-style" name="ageLimit" required>
                        <option value="">Wybierz ograniczenie wiekowe</option>
                        <option th:each="age : ${ageLimits}"
                                th:value="${age}"
                                th:text="${age}"></option>
                    </select>
                    <tr>
                        <td><input class="text-input-style" type="text" name="description" placeholder="Wpisz opis filmu"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="staff" placeholder="Wpisz obsadę filmu" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="directedBy" placeholder="Wpisz reżysera"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="languages" placeholder="Wpisz dostępne języki"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="actors" placeholder="Wpisz aktorów" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="text-input-style" name="genre" required>
                                <option value="">Wybierz gatunek</option>
                                <option th:each="genre : ${genres}"
                                        th:value="${genre.genreType}"
                                        th:text="${genre.genreType}">Gatunek
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex-container">
                                <label for="promoted" class="checkbox-label">Promowanie na stronie głównej:</label>
                                <input type="checkbox" id="promoted" name="promoted">
                            </div>
                        </td>
                    </tr>

                </div>
                <div class="submit-button-movie-page">
                    <button type="submit"
                            class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl"
                            tabindex="0">Dodaj film
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>

</body>
</html>