<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="sidebar" class="Admin-sidebar">
    <ul class="DropDownUserMenu-module-dropdownList--L-em">
        <ul>
            <li>
                        <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                            Filmy
                        </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/admin/add-movie-api}">Dodaj film API</a></li>
                    <li><a th:href="@{/admin/add-movie-form}">Dodaj film ręcznie </a></li>
                    <li><a th:href="@{/admin/manage-movies}">Zarządzaj filmami</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Seriale
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/admin/add-series-api}">Dodaj serial API</a></li>
                    <li><a th:href="@{/admin/add-series-form}">Dodaj serial ręcznie </a></li>
                    <li><a th:href="@{/admin/manage-series}">Zarządzaj serialami</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li sec:authorize="hasRole('ADMIN')">
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Użytkownicy
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/master/manage-users}">Zarządzaj użytkownikami</a></li>
                </ul>
            </li>
        </ul>
    </ul>
</aside>
</html>
