<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="sidebar" class="Admin-sidebar">
    <ul class="DropDownUserMenu-module-dropdownList--L-em">
        <ul>
            <li>
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Movies
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/admin/add-movie-api}">Add movie by API</a></li>
                    <li><a th:href="@{/admin/add-movie-form}">Add movie manually </a></li>
                    <li><a th:href="@{/admin/manage-movies}">Manege movies</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Series
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/admin/add-series-api}">Add series by API</a></li>
                    <li><a th:href="@{/admin/add-series-form}">Add series manually </a></li>
                    <li><a th:href="@{/admin/manage-series}">Manage series</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li sec:authorize="hasRole('ADMIN')">
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Users
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/master/manage-users}">Manage users</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <span class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA">
                    Home page
                </span>
                <ul class="sub-menu">
                    <li><a th:href="@{/admin/manage-series-promo-box}">Series promo box</a></li>
                    <li><a th:href="@{/admin/manage-movies-promo-box}">Movies promo box</a></li>
                    <li><a th:href="@{/admin/manage-series-carousels}">Manege series carousels</a></li>
                    <li><a th:href="@{/admin/manage-movies-carousels}">Manege movies carousels</a></li>
                </ul>
            </li>
        </ul>
    </ul>
</aside>
</html>
