<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ViaPlay</title>
  <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
  <div th:replace="~{header :: header}"></div>
  <div id="content" class="admin-panel">
    <div class="main-content-episode">
      <div class="episode-info">
          <span class="episode-info-h1" th:text="${serialTitle}"></span>
        <form class="next-button-episode-player-r8Fw3" th:action="@{/add-episode-to-history/{episodeId}(episodeId=${watchedEpisodes.id})}" method="post">
          <button type="submit">
            <span>Next episode</span>
          </button>
        </form>
        <span class="episode-info-h2">Sezon <span th:text="${seasonNumber}"></span>, Epizod <span th:text="${episodeNumber}"></span></span>
      </div>
      <div class="responsive-iframe-container">
        <iframe th:src="${mediaUrl}" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
  <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>
</body>
</html>