<!DOCTYPE html>
<html lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" class="Navigation-module-container-2t2XT">
    <div class="Navigation-module-wrapper-VDNDW">
        <div class="Navigation-module-sections-tzP7z">
            <div class="Navigation-module-left-FaRmB">
        <span>
          <div class="HeaderLogo-module-headerLogo-lWX4m">
            <a class="HeaderLogo-module-link-kdP1e" href="/">
              <img th:src="@{/images/cineflix.png}"
                   alt="Cineflix Start logo"
                   class="Logo-module-logo-pfYdr">
            </a>
          </div>
        </span>
            </div>
            <nav class="NavigationItems-module-center-cd-0t">
                <a class="NavigationItem-module-item-vXU--" th:href="@{/series}">Series</a>
                <a class="NavigationItem-module-item-vXU--" th:href="@{/movies}">Movies</a>
                <a class="NavigationItem-module-item-vXU--" th:href="@{/kids}">Kids</a>
            </nav>
            <div class="Navigation-module-right-643YK">
                <div class="SearchButton-module-container-oHmID">
                    <a class="SearchButton-module-icon-zn1mS" th:href="@{/search}"></a>
                </div>
                <a class="NavigationItem-module-item-vXU-- NavigationItem-module-library-E3ML5 NavigationItem-module-hide-n07a1"
                   href="/library">
                </a>
                <div class="UserMenu-module-detailsAuthenticated-Ku3RE UserMenu-module-activeHover-jkgiL">
                    <button class="UserMenu-module-toggle-mkB6K" data-testhook="header-authenticated-user">
                        <div class="UserMenu-module-buttonbox-HF7RL">
                            <div class="ProfileAvatar-module-container-aV27r ProfileAvatar-module-small-HCZsN"
                                 tabindex="-1">
                                <div class="ProfileAvatar-module-editContainer-mwkk5"><img
                                        class="ProfileAvatar-module-avatar-2Qy4H" alt="avatar"
                                        th:src="${avatar} ?: '/images/avatars/wilk2.png'">
                                    <div class="ProfileAvatar-module-editIcon-zlhbG"></div>
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="DropDownUserMenu-module-dropdown-IuMOF">
                        <div class="DropDownUserMenu-module-boxShadow-Ymkx0">
                            <ul class="DropDownUserMenu-module-dropdownList--L-em">
                                <ul class="DropDownUserMenu-module-libraryContainer-1aPF8">
                                    <li class="DropDownUserMenu-module-textItem-KCl5W DropDownUserMenu-module-library-UBRPc">
                                        <a class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-library-E3ML5"
                                           data-testhook="user-menu-library"
                                           th:href="@{/library}">
                                            <span>Library</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA"
                                           th:href="@{/watched}">
                                            <span>Watched</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA"
                                           th:href="@{/account}">
                                            <span>My account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA"
                                           th:href="@{/support}">
                                            <span>Support</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                                        <a class="NavigationItem-module-item-vXU-- NavigationItem-module-compact--avrA NavigationItem-module-watched-mwewA"
                                           th:href="@{/admin}">
                                            <span>Administration page</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a class="Buttons-module-dark-Di3pP DropDownUserMenu-module-logoutButton-VFuHS"
                                           th:href="@{/logout}" tabindex="0">
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</html>