<!-- templates/header.html -->
<div id="header-{category}" class="CarouselHeader-module-container-dBOIV">
  <section itemtype="">
    <div class="Scaffold-module-scaffold-F6aIC">
      <header class="CarouselHeader-module-wrapper-B8ict">
        <h2 class="Title-module-subheader--ZDhF Title-module-hasSeeMore-DEdTE" th:text="${categoryName}">
          Thrillery
        </h2>
        <a class="Title-module-seeMore-f3FXj" th:href="${categoryLink}">
          Pokaż wszystko
        </a>
      </header>
    </div>
  </section>
</div>
