<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>

<div id="content-wrapper" class>
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div id="content" class="root">
                <div class="dockable"></div>
                <div class="blocksEnsembleContainer-module-container-ZXS1I" id="blockEnsembleContainer">
                    <!--                    FUTUREBOX-->
                    <div style="display: block;">
                        <section id="futureBoxContainer" class="FeatureBox-module-featurebox-k0Qb-" tabindex="-1">
                            <div class="FeatureBox-module-scaffold-pbGsj">
                                <div class="FeatureBox-module-inner-pr6ZF">

                                    <ul class="FeatureBox-module-frames-KRTS0">
                                        <div style="display: block;">
                                            <li class="Frame-module-container-hTg-J Frame-module-autofadein-pgNO2"
                                                th:each="item : ${randomPromotedItems}">
                                                <div class="FeatureBoxVideo-module-container-8tmrB">
                                                    <div class="FeatureBoxVideo-module-wrapper-8UDKL">
                                                        <div class="FeatureBoxVideo-module-poster-SJpIi FeatureBoxVideo-module-visibleItem-85rzi FeatureBoxVideo-module-smoothVisibleItem-1w-S7"
                                                             th:style="'background-image: url(' + ${item.imageUrl} + ');'">
                                                        </div>
                                                    </div>
                                                    <div class="FeatureBoxVideo-module-shadow-IJEZu"></div>
                                                </div>
                                                <div class="FeatureBoxFlags-module-container-kShG1"></div>
                                                <div class="Frame-module-vignette-eazga"></div>
                                                <div></div>

                                                <!--                                                INFORMATION MODULE FRAME-->
                                                <div class="Frame-module-body-ICZKd">
                                                    <h3 class="Frame-module-title-wgDhS" th:text="${item.title}">
                                                        Hell on Wheels: Witaj w piekle
                                                    </h3>
                                                    <p class="FrameMeta-module-metadata-n-nYT">
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span>
                                                                <a data-tracking-click="IMDB"
                                                                   class="ImdbRating-module-link-yYfI- ImdbRating-module-featurebox-rOXSw"
                                                                   th:href="@{${item.imdbUrl}}" target="_blank"
                                                                   rel="noopener noreferrer nofollow" tabindex="-1"
                                                                   th:text="${item.imdbRating}">
                                                                        8.3
                                                                </a>
                                                            </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span>
                                                                <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3 Divider-module-genres-ezeLN">
                                                                    <a class="Genre-module-container-HcI4x Genre-module-featurebox-qQIAg Genre-module-link-kGNTi"
                                                                       tabindex="-1"
                                                                       th:href="@{'/' + ${item.mediaType}+'/'+${item.genre}}"
                                                                       th:text="${item.genre}">
                                                                        Seriale dramatyczne
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span class="Year-module-container-60QAr Year-module-featurebox-kwpHV"
                                                                  th:text="${item.releaseYear}">
                                                                2011
                                                            </span>
                                                            <!--                                                            <meta itemprop="copyrightYear" content="2011">-->
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span class="Seasons-module-container-ZM15y Seasons-module-featurebox-O9JXt"
                                                                  th:if="${item.getClass().simpleName == 'SeriesDto'}">
                                                                 <span th:text="${item.seasonsCount} + ' ' + (item.seasonsCount == 1 ? 'Sezon' : 'Sezony')">
                                                                     5 Sezony
                                                                 </span>
                                                            </span>
                                                           <span class="Seasons-module-container-ZM15y Seasons-module-featurebox-O9JXt"
                                                                 th:if="${item.getClass().simpleName == 'MovieDto'}">
                                                               <span th:if="${item.timeline < 59}">
                                                                   <span th:text="${item.timeline} + ' min.'"></span>
                                                               </span>
                                                               <span th:if="${item.timeline >= 60}">
                                                                   <span th:text="${item.timeline div 60 + ' godz.' + (item.timeline % 60 > 0 ? ' ' + item.timeline % 60 + ' min.' : '')}"></span>
                                                               </span>
                                                           </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3 Divider-module-hasDefaultTypography-Uy4EO">
                                                            <span class="ParentalRating-module-container-lxbzk ParentalRating-module-featurebox-5aV-1 ParentalRating-module-hasDefaultTypography-UP2B1">
                                                                <span th:text="${item.ageLimit} + ' lat'">
                                                                    15 lat
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p class="Frame-module-synopsis-Zx-xG"
                                                       th:text="${item.description}">
                                                        Dołącz do weterana podróżującego na zachód w poszukiwaniu
                                                        zemsty.
                                                    </p>
                                                    <div class="Frame-module-buttons-bIDYz">
                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl Buttons-module-play-AAOaC"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                           th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                            Obejrzyj
                                                        </a>
                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')}"
                                                           th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} "
                                                           href="/movie/to_do">
                                                            Obejrzyj
                                                        </a>
                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                           th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} "
                                                           href="/series/hell-on-wheels-witaj-w-piekle">
                                                            Przeczytaj więcej
                                                        </a>
                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')}"
                                                           th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} "
                                                           href="movies/to_do">
                                                            Przeczytaj więcej
                                                        </a>
                                                        <span>
                                                            <a class="MyList-module-container-zkH2- Buttons-module-secondary-br7-v Buttons-module-icon-ODVKH MyList-module-featureBox-F6kLA"
                                                               tabindex="-1">
                                                                <div class="MyList-module-myList-kmBI5"></div>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--                   SERIES PROMOBOX-->
                    <div style="display: block;">
                        <div class="CarouselHeader-module-container-dBOIV">
                            <section itemtype="">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <header class="CarouselHeader-module-wrapper-B8ict">
                                        <h2 class="Title-module-subheader--ZDhF" th:text="${seriesPromoBoxMainTitle}">
                                            Series PromoBox title
                                        </h2>
                                    </header>
                                </div>
                            </section>
                        </div>
                        <section>
                            <div class="Scaffold-module-scaffold-F6aIC">
                                <div class="MosaicLite-module-container-kmYfB MosaicLite-module-block5-iSivd">
                                    <div th:each="promoItem : ${seriesPromoBox}"
                                         class="Item-module-item-yTZtG Item-module-carouselItem-Q3n9V Item-module-landscapeItem-Sf-nw Item-module-mosaicGridItem-XKjcG"
                                         th:id="'series-' + ${promoItem.imdbId}"
                                         th:data-product-id="${promoItem.imdbId}">
                                        <div class="Item-module-box-4uBp3 Item-module-show-qrDtq">
                                            <div class="Item-module-image-CGday" th:style="'background-image: url(' + ${promoItem.imageUrl} + ');'"></div>
                                            <a class="Item-module-link-Lms-C"
                                               tabindex="-1"
                                               th:with="formattedTitle=${promoItem.title.replace(' ', '-')+'/sezon-1'}"
                                               th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                            </a>
                                            <div class="Item-module-curtain-EV2Ya">
                                                <div class="GenericMeta-module-container-JU38z">
                                                    <div>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <a class="ImdbRating-module-link-yYfI-" target="_blank" tabindex="-1"
                                                               th:text="${promoItem.imdbRating}">
                                                                ImdbRating
                                                            </a>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                            <span class="Seasons-module-container-ZM15y Seasons-module-hasDefaultTypography-8No96">
                                                                <span th:text="${promoItem.seasonsCount} + ' ' + (promoItem.seasonsCount == 1 ? 'Sezon' : 'Sezony')">
                                                                    Ilość sezonów
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="InteractionIcons-module-container-apGgr">
                                                    <a class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                       data-testhook="item-info" tabindex="-1"
                                                       th:with="formattedTitle=${promoItem.title.replace(' ', '-')}"
                                                       th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                    </a>
                                                    <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"
                                                         data-testhook="item-star">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-"
                                                         data-testhook="item-rating-up">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1"
                                                         data-testhook="item-rating-down">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>


                    <div th:replace="~{fragments :: series-carousel(genreTitle=${dramaSeriesTitle}, genre=${dramaGenre}, series=${dramaSeries})}"></div>

                    <div th:replace="~{fragments :: series-carousel(genreTitle=${comedySeriesTitle}, genre=${comedyGenre}, series=${comedySeries})}"></div>

                    <div th:replace="~{fragments :: series-carousel(genreTitle=${actionSeriesTitle}, genre=${actionGenre}, series=${actionSeries})}"></div>

                    <!--                   MOVIE PROMOBOX-->
                    <div style="display: block;">
                        <div class="CarouselHeader-module-container-dBOIV">
                            <section itemtype="">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <header class="CarouselHeader-module-wrapper-B8ict">
                                        <h2 class="Title-module-subheader--ZDhF" th:text="${moviePromoBoxMainTitle}">
                                            Series PromoBox title
                                        </h2>
                                    </header>
                                </div>
                            </section>
                        </div>
                        <section>
                            <div class="Scaffold-module-scaffold-F6aIC">
                                <div class="MosaicLite-module-container-kmYfB MosaicLite-module-block5-iSivd">
                                    <div th:each="promoItem : ${moviePromoBox}"
                                         class="Item-module-item-yTZtG Item-module-carouselItem-Q3n9V Item-module-landscapeItem-Sf-nw Item-module-mosaicGridItem-XKjcG"
                                         th:id="'series-' + ${promoItem.imdbId}"
                                         th:data-product-id="${promoItem.imdbId}">
                                        <div class="Item-module-box-4uBp3 Item-module-show-qrDtq">
                                            <div class="Item-module-image-CGday"
                                                 th:style="'background-image: url(' + ${promoItem.imageUrl} + ');'">
                                            </div>
                                            <a class="Item-module-link-Lms-C"
                                               tabindex="-1"
                                               th:with="formattedTitle=${promoItem.title.toLowerCase().replace(' ', '-')}"
                                               th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                            </a>
                                            <div class="Item-module-curtain-EV2Ya">
                                                <div class="GenericMeta-module-container-JU38z">
                                                    <div>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <a class="ImdbRating-module-link-yYfI-" target="_blank" tabindex="-1"
                                                               th:text="${promoItem.imdbRating}">
                                                                ImdbRating
                                                            </a>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <span th:text="${promoItem.releaseYear}" class="Year-module-container-60QAr">
                                                                2016
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="InteractionIcons-module-container-apGgr">
                                                    <a class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                       data-testhook="item-info" tabindex="-1"
                                                       th:with="formattedTitle=${promoItem.title.replace(' ', '-')}"
                                                       th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                    </a>
                                                    <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"
                                                         data-testhook="item-star">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-"
                                                         data-testhook="item-rating-up">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1"
                                                         data-testhook="item-rating-down">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div th:replace="~{fragments :: movies-carousel(genreTitle=${thrillerMoviesTitle}, genre=${thrillerGenre}, movies=${thrillerMovies})}"></div>


                </div>
            </div>

            <div th:replace="~{footer :: footer}"></div>
        </div>
    </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>-->
<script type="text/javascript" src="/scripts/common.js"></script>

</body>
</html>