<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cineflix</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="javascript" th:href="@{/static/scripts/common.js}"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="../static/scripts/common.js"></script>
</head>
<body>

<div id="content-wrapper" class>
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div id="content" class="root">
                <div class="dockable"></div>
                <div class="blocksEnsembleContainer-module-container-ZXS1I" id="blockEnsembleContainer">
                    <!--                    FUTUREBOX-->
                    <div style="display: block;">
                        <section id="futureBoxContainer" class="FeatureBox-module-featurebox-k0Qb-" tabindex="-1">
                            <div class="FeatureBox-module-scaffold-pbGsj">
                                <div class="FeatureBox-module-inner-pr6ZF">

                                    <ul class="FeatureBox-module-frames-KRTS0">
                                        <div style="display: block;">
                                            <li class="Frame-module-container-hTg-J Frame-module-autofadein-pgNO2"
                                                th:each="item : ${randomPromotedItems}">
                                                    <div class="FeatureBoxVideo-module-container-8tmrB">
                                                        <div class="FeatureBoxVideo-module-wrapper-8UDKL">
                                                            <div class="FeatureBoxVideo-module-poster-SJpIi FeatureBoxVideo-module-visibleItem-85rzi FeatureBoxVideo-module-smoothVisibleItem-1w-S7"
                                                                 th:style="'background-image: url(' + ${item.imageUrl} + ');'">
                                                            </div>
                                                        </div>
                                                        <div class="FeatureBoxVideo-module-shadow-IJEZu"></div>
                                                    </div>
                                                <a th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                   th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                   th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})}">
                                                    <div class="Frame-module-vignette-eazga"></div>
                                                </a>
                                                <a th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                   th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')}"
                                                   th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})}">
                                                    <div class="Frame-module-vignette-eazga"></div>
                                                </a>


                                                <!--                                                INFORMATION MODULE FRAME-->
                                                <div class="Frame-module-body-ICZKd">
                                                    <h3 class="Frame-module-title-wgDhS" th:text="${item.title}">
                                                        Title
                                                    </h3>
                                                    <p class="FrameMeta-module-metadata-n-nYT">
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span>
                                                                <a data-tracking-click="IMDB"
                                                                   class="ImdbRating-module-link-yYfI- ImdbRating-module-featurebox-rOXSw"
                                                                   th:href="@{${item.imdbUrl}}" target="_blank"
                                                                   rel="noopener noreferrer nofollow" tabindex="-1"
                                                                   th:text="${item.imdbRating}">
                                                                        Imdb Rating
                                                                </a>
                                                            </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span>
                                                                <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3 Divider-module-genres-ezeLN">
                                                                    <a th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                                       class="Genre-module-container-HcI4x Genre-module-featurebox-qQIAg Genre-module-link-kGNTi"
                                                                       tabindex="-1"
                                                                       th:href="@{'/series/'+${item.genre}}"
                                                                       th:text="${item.genre}">
                                                                        Series Genre
                                                                    </a>
                                                                    <a th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                                       class="Genre-module-container-HcI4x Genre-module-featurebox-qQIAg Genre-module-link-kGNTi"
                                                                       tabindex="-1"
                                                                       th:href="@{'/movies/'+${item.genre}}"
                                                                       th:text="${item.genre}">
                                                                        Movie Genre
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span class="Year-module-container-60QAr Year-module-featurebox-kwpHV"
                                                                  th:text="${item.releaseYear}">
                                                                Year Release
                                                            </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3">
                                                            <span class="Seasons-module-container-ZM15y Seasons-module-featurebox-O9JXt"
                                                                  th:if="${item.getClass().simpleName == 'SeriesDto'}">
                                                                 <span th:text="${item.seasonsCount} + ' ' + (item.seasonsCount == 1 ? 'Season' : 'Seasons')">
                                                                     Seasons count
                                                                 </span>
                                                            </span>
                                                           <span class="Seasons-module-container-ZM15y Seasons-module-featurebox-O9JXt"
                                                                 th:if="${item.getClass().simpleName == 'MovieDto'}">
                                                               <span th:if="${item.timeline < 59}">
                                                                   <span th:text="${item.timeline} + ' min.'"></span>
                                                               </span>
                                                               <span th:if="${item.timeline >= 60}">
                                                                   <span th:text="${item.timeline div 60 + ' hr.' + (item.timeline % 60 > 0 ? ' ' + item.timeline % 60 + ' min.' : '')}"></span>
                                                               </span>
                                                           </span>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-featurebox-lE8g3 Divider-module-hasDefaultTypography-Uy4EO">
                                                            <span class="ParentalRating-module-container-lxbzk ParentalRating-module-featurebox-5aV-1 ParentalRating-module-hasDefaultTypography-UP2B1">
                                                                <span th:text="${item.ageLimit} + ' +'">
                                                                    Age limit
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p class="Frame-module-synopsis-Zx-xG"
                                                       th:text="${item.description}">
                                                        Description
                                                    </p>
                                                    <div class="Frame-module-buttons-bIDYz">
                                                        <div th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                             th:with="unwachedEpisodeId=${item.firstUnwatchedEpisodeId}"
                                                             th:href="@{/play-episode/{unwachedEpisodeId}(unwachedEpisodeId=${unwachedEpisodeId})} "
                                                             class="ActionButton-module-wrapper-movie-Gds43s">
                                                            <form th:action="@{/add-episode-to-history/{unwachedEpisodeId}(unwachedEpisodeId=${unwachedEpisodeId})}" method="post">
                                                                <button type="submit" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl Buttons-module-play-AAOaC">
                                                                    <span>Watch</span>
                                                                </button>
                                                            </form>
                                                        </div>

                                                        <div th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                             th:with="imdbId=${item.imdbId}"
                                                             th:href="@{/movies/play-movie/{imdbId}(imdbId=${imdbId})} "
                                                             class="ActionButton-module-wrapper-movie-Gds43s">
                                                            <form th:action="@{/add-movie-to-history/{imdbId}(imdbId=${item.imdbId})}" method="post">
                                                                <button type="submit" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl Buttons-module-play-AAOaC">
                                                                    <span>Watch</span>
                                                                </button>
                                                            </form>
                                                        </div>

                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'SeriesDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                           th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                            Read more
                                                        </a>
                                                        <a class="FeatureBoxButton-module-button--HNtu Buttons-module-primary--YHdl"
                                                           tabindex="-1"
                                                           th:if="${item.getClass().simpleName == 'MovieDto'}"
                                                           th:with="formattedTitle=${item.title.toLowerCase().replace(' ', '-')}"
                                                           th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                            Read more
                                                        </a>
                                                        <span>
                                                            <a class="MyList-module-container-zkH2- Buttons-module-secondary-br7-v Buttons-module-icon-ODVKH MyList-module-featureBox-F6kLA"
                                                               tabindex="-1">
                                                                <div class="MyList-module-myList-kmBI5" data-testhook="item-star" th:classappend="${item.onUserList ? 'MyList-module-active-T4Dnx' : ''}"
                                                                     th:attr="data-imdb-id=${item.imdbId}"></div>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--                   SERIES PROMOBOX-->
                    <div style="display: block;">
                        <div class="CarouselHeader-module-container-dBOIV">
                            <section itemtype="">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <header class="CarouselHeader-module-wrapper-B8ict">
                                        <h2 class="Title-module-subheader--ZDhF" th:text="${seriesPromoBoxMainTitle}">
                                            Series PromoBox title
                                        </h2>
                                    </header>
                                </div>
                            </section>
                        </div>
                        <section>
                            <div class="Scaffold-module-scaffold-F6aIC">
                                <div class="MosaicLite-module-container-kmYfB MosaicLite-module-block5-iSivd">
                                    <div th:each="promoItem : ${seriesPromoBox}"
                                         class="Item-module-item-yTZtG Item-module-carouselItem-Q3n9V Item-module-landscapeItem-Sf-nw Item-module-mosaicGridItem-XKjcG"
                                         th:id="'series-' + ${promoItem.imdbId}"
                                         th:data-product-id="${promoItem.imdbId}">
                                        <div class="Item-module-promobox-53fes Item-module-show-qrDtq">
                                            <div class="Item-module-image-CGday" th:style="'background-image: url(' + ${promoItem.imageUrl} + ');'"></div>
                                            <a class="Item-module-link-Lms-C"
                                               tabindex="-1"
                                               th:with="formattedTitle=${promoItem.title.replace(' ', '-')+'/sezon-1'}"
                                               th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                            </a>
                                            <div class="Item-module-curtain-EV2Ya">
                                                <div class="GenericMeta-module-container-JU38z">
                                                    <div>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <a class="ImdbRating-module-link-yYfI-" target="_blank" tabindex="-1"
                                                               th:text="${promoItem.imdbRating}">
                                                                ImdbRating
                                                            </a>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                            <span class="Seasons-module-container-ZM15y Seasons-module-hasDefaultTypography-8No96">
                                                                <span th:text="${promoItem.seasonsCount} + ' ' + (promoItem.seasonsCount == 1 ? 'Season' : 'Seasons')">
                                                                    Seasons count
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="InteractionIcons-module-container-apGgr">
                                                    <a class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                       data-testhook="item-info" tabindex="-1"
                                                       th:with="formattedTitle=${promoItem.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                       th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                    </a>
                                                    <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"
                                                         data-testhook="item-star" th:classappend="${promoItem.onUserList ? 'StarButton-module-isStarred-v2AtG' : ''}"
                                                         th:attr="data-imdb-id=${promoItem.imdbId}">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8"
                                                         th:classappend="${promoItem.userRating != null ? (promoItem.userRating ? ' RateButtons-module-rateUp-S4se- RateButtons-module-active-n-0Gb' : ' RateButtons-module-rateUp-S4se-') : ' RateButtons-module-rateUp-S4se-'}"
                                                         onclick="rate('up', this)" th:attr="data-imdbid=${promoItem.imdbId}" data-testhook="item-rating-up">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8"
                                                         th:classappend="${promoItem.userRating != null ? (promoItem.userRating ? ' RateButtons-module-rateDown-DblB1' : ' RateButtons-module-rateDown-DblB1 RateButtons-module-active-n-0Gb') : ' RateButtons-module-rateDown-DblB1'}"
                                                         onclick="rate('down', this)" th:attr="data-imdbid=${promoItem.imdbId}" data-testhook="item-rating-down">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--                    SERIES CAROUSELS-->
                    <div th:each="carousel : ${seriesCarousels}" th:if="${carousel.active}">
                        <div th:replace="~{fragments :: series-carousel(genreTitle=${carousel.genre + ' Series'}, genre=${carousel.genre.toLowerCase()}, series=${carousel.series}, carouselId=${'carousel-' + carousel.genre.toLowerCase()})}"></div>
                    </div>

                    <!--                   MOVIE PROMOBOX-->
                    <div style="display: block;">
                        <div class="CarouselHeader-module-container-dBOIV">
                            <section itemtype="">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <header class="CarouselHeader-module-wrapper-B8ict">
                                        <h2 class="Title-module-subheader--ZDhF" th:text="${moviePromoBoxMainTitle}">
                                            Series PromoBox title
                                        </h2>
                                    </header>
                                </div>
                            </section>
                        </div>
                        <section>
                            <div class="Scaffold-module-scaffold-F6aIC">
                                <div class="MosaicLite-module-container-kmYfB MosaicLite-module-block5-iSivd">
                                    <div th:each="promoItem : ${moviePromoBox}"
                                         class="Item-module-item-yTZtG Item-module-carouselItem-Q3n9V Item-module-landscapeItem-Sf-nw Item-module-mosaicGridItem-XKjcG"
                                         th:id="'series-' + ${promoItem.imdbId}"
                                         th:data-product-id="${promoItem.imdbId}">
                                        <div class="Item-module-promobox-53fes Item-module-show-qrDtq">
                                            <div class="Item-module-image-CGday"
                                                 th:style="'background-image: url(' + ${promoItem.backgroundImageUrl} + ');'">
                                            </div>
                                            <a class="Item-module-link-Lms-C"
                                               tabindex="-1"
                                               th:with="formattedTitle=${promoItem.title.toLowerCase().replace(' ', '-')}"
                                               th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                            </a>
                                            <div class="Item-module-curtain-EV2Ya">
                                                <div class="GenericMeta-module-container-JU38z">
                                                    <div>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <a class="ImdbRating-module-link-yYfI-" target="_blank" tabindex="-1"
                                                               th:text="${promoItem.imdbRating}">
                                                                ImdbRating
                                                            </a>
                                                        </span>
                                                        <span class="Divider-module-divider-U-3--">
                                                            <span th:text="${promoItem.releaseYear}" class="Year-module-container-60QAr">
                                                                Year release
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="InteractionIcons-module-container-apGgr">
                                                    <a class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                       data-testhook="item-info" tabindex="-1"
                                                       th:with="formattedTitle=${promoItem.title.replace(' ', '-')}"
                                                       th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                    </a>
                                                    <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"
                                                         data-testhook="item-star" th:classappend="${promoItem.onUserList ? 'StarButton-module-isStarred-v2AtG' : ''}"
                                                         th:attr="data-imdb-id=${promoItem.imdbId}">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 rate-up"
                                                         th:classappend="${promoItem.userRating != null ? (promoItem.userRating ? ' RateButtons-module-rateUp-S4se- RateButtons-module-active-n-0Gb' : ' RateButtons-module-rateUp-S4se-') : ' RateButtons-module-rateUp-S4se-'}"
                                                         onclick="rate('up', this)" th:attr="data-imdbid=${promoItem.imdbId}" data-testhook="item-rating-up">
                                                    </div>
                                                    <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 rate-down"
                                                         th:classappend="${promoItem.userRating != null ? (promoItem.userRating ? ' RateButtons-module-rateDown-DblB1' : ' RateButtons-module-rateDown-DblB1 RateButtons-module-active-n-0Gb') : ' RateButtons-module-rateDown-DblB1'}"
                                                         onclick="rate('down', this)" th:attr="data-imdbid=${promoItem.imdbId}" data-testhook="item-rating-down">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div th:each="carousel : ${moviesCarousels}" th:if="${carousel.active}">
                        <div th:replace="~{fragments :: movies-carousel(genreTitle=${carousel.genre}, genre=${carousel.genre.toLowerCase()}, movies=${carousel.movies}, carouselId=${'carousel-' + carousel.genre.toLowerCase()})}"></div>
                    </div>
                </div>
            </div>

            <div th:replace="~{footer :: footer}"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>
<script>
    $(document).ready(function () {
        $('.Carousel-module-inner-4oa8u').each(function () {
            var $carousel = $(this);
            var carouselId = $carousel.attr('id');

        $carousel.slick({
            infinite: false,
            speed: 200,
            slidesToShow: 1,
            arrows: false,
            draggable: false,
            centerMode: false,
            variableWidth: true,
        });

            $('#prev-' + carouselId).on('click', function () {
                $carousel.slick('slickPrev');
            });

            $('#next-' + carouselId).on('click', function () {
                $carousel.slick('slickNext');
            });
        });
    });

</script>
<script>
    document.querySelectorAll('.MyList-module-myList-kmBI5').forEach(button => {
        button.addEventListener('click', function () {
            var imdbId = this.getAttribute('data-imdb-id');

            var csrfToken = document.querySelector('meta[name="_csrf"]').content;
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            var headers = new Headers();
            headers.append(csrfHeader, csrfToken);

            var isStarred = this.classList.contains('MyList-module-active-T4Dnx');

            var method = isStarred ? 'DELETE' : 'POST';

            // Utwórz pełny adres URL
            var baseUrl = window.location.origin + '/library/';
            var apiUrl = (isStarred ? 'remove-from-list/' : 'add-to-list/') + imdbId;
            var fullUrl = baseUrl + apiUrl;

            fetch(fullUrl, {
                method: method,
                headers: headers
            })
                .then(response => {
                    if (response.ok) {
                        this.classList.toggle('MyList-module-active-T4Dnx', !isStarred);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });


    function rate(direction, element) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);
        var imdbId = element.getAttribute('data-imdbid');

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.InteractionIcons-module-container-apGgr');
                    var rateUpIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-up"]');
                    var rateDownIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-down"]');
                    updateRatingUI(direction, rateUpIcon, rateDownIcon);
                }
            });
    }

    function updateRatingUI(direction, rateUpIcon, rateDownIcon) {
        rateUpIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-';
        rateDownIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1';

        if (direction === 'up') {
            rateUpIcon.classList.add('RateButtons-module-active-n-0Gb');
        } else if (direction === 'down') {
            rateDownIcon.classList.add('RateButtons-module-active-n-0Gb');
        }
    }



</script>

</body>
</html>