<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cineflix</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<div id="content-wrapper" class>
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div class="dockable"></div>
            <div class="blocksEnsembleContainer-module-container-ZXS1I">
                <div id="content" class="article" data-testhook="article">
                    <div class="dockable"></div>
                    <div class="Season-module-wrapper-H0oVh" data-testhook="season">
                        <div class="StickyDiv-module-mark-Me4XV StickyDiv-module-top-peA7i" style="top: 0px;"></div>
                        <div class="Search-module-results-EVu-r" style="margin-top: 60px">
                            <section>
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <div>
                                        <div class="SearchFilters-module-container-d0i8m">
                                            <div class="h1-login-form-header-HD2dE">Kids</div>
                                            <ul class="SearchFilters-module-list-P-HYT">
                                                <li class="SearchFilters-module-item-VQgVJ"><span>Show: </span>
                                                </li>
                                                <li class="SearchFilters-module-item-VQgVJ"
                                                    th:classappend="${activeFilter == 'all' ? 'SearchFilters-module-active-xbXxo' : ''}">
                                                    <a class="SearchFilters-module-link-cRk6q"
                                                       th:href="@{'/kids?filter=all'}"
                                                       title="Wszystko">All</a>
                                                </li>

                                                <li class="SearchFilters-module-item-VQgVJ"
                                                    th:classappend="${activeFilter == 'series' ? 'SearchFilters-module-active-xbXxo' : ''}">
                                                    <a class="SearchFilters-module-link-cRk6q"
                                                       th:href="@{'/kids?filter=series'}"
                                                       title="Seriale">Series</a>
                                                </li>

                                                <li class="SearchFilters-module-item-VQgVJ"
                                                    th:classappend="${activeFilter == 'movies' ? 'SearchFilters-module-active-xbXxo' : ''}">
                                                    <a class="SearchFilters-module-link-cRk6q"
                                                       th:href="@{'/kids?filter=movies'}"
                                                       title="Filmy">Movies</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="Grid-module-container-kIPZs" style="margin-top: 30px">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <div class="Grid-module-wrapper---F1s">
                                        <div style="display:inline">
                                            <div style="display:inline">
                                            <span>
                                                <div th:each="itemModel : ${activeAttribute}"
                                                     class="Item-module-item-yTZtG Item-module-carouselItem-Q3n9V Item-module-landscapeItem-Sf-nw">
                                                    <div class="Item-module-box-4uBp3 Item-module-show-qrDtq">
                                                        <a th:if="${itemModel.getClass().simpleName == 'SeriesDto'}"
                                                           class="Item-module-link-Lms-C" tabindex="-1"
                                                           th:with="formattedTitle=${itemModel.title.toLowerCase().replace(' ', '-')+'/sezon-1'}"
                                                           th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                        </a>
                                                        <a th:if="${itemModel.getClass().simpleName == 'MovieDto'}"
                                                           class="Item-module-link-Lms-C" tabindex="-1"
                                                           th:with="formattedTitle=${itemModel.title.toLowerCase().replace(' ', '-')}"
                                                           th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                        </a>
                                                        <div class="Item-module-image-CGday"
                                                             th:style="'background-image: url(' + ${itemModel.imageUrl} + ');'">
                                                        </div>
                                                        <div class="Item-module-curtain-EV2Ya">
                                                            <div class="SeriesMeta-module-container-oFAL3">
                                                                <div class="SeriesMeta-module-metadata-8qwss">
                                                                    <span class="Divider-module-divider-U-3--">
                                                                        <a class="ImdbRating-module-link-yYfI- ImdbRating-module-hasDefaultTypography-luAjW"
                                                                           th:href="@{${itemModel.imdbUrl}}"
                                                                           target="_blank"
                                                                           tabindex="-1"
                                                                           th:text="${itemModel.imdbRating}">
                                                                            ImdbRating
                                                                        </a>
                                                                    </span>
                                                                    <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                                        <span class="Seasons-module-container-ZM15y Seasons-module-hasDefaultTypography-8No96"
                                                                              th:if="${itemModel.getClass().simpleName == 'SeriesDto'}">
                                                                            <span th:text="${itemModel.seasonsCount} + ' ' + (itemModel.seasonsCount == 1 ? 'Season' : 'Seasons')">
                                                                                Seasons count
                                                                            </span>
                                                                        </span>
                                                                        <span class="Seasons-module-container-ZM15y Seasons-module-hasDefaultTypography-8No96"
                                                                              th:if="${itemModel.getClass().simpleName == 'MovieDto'}">
                                                                            <span th:if="${itemModel.timeline < 59}">
                                                                                <span th:text="${itemModel.timeline} + ' min.'"></span>
                                                                            </span>
                                                                            <span th:if="${itemModel.timeline >= 60}">
                                                                                <span th:text="${itemModel.timeline div 60 + ' hr.' + (itemModel.timeline % 60 > 0 ? ' ' + itemModel.timeline % 60 + ' min.' : '')}"></span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="InteractionIcons-module-container-apGgr">
                                                                <a th:if="${itemModel.getClass().simpleName == 'SeriesDto'}"
                                                                   class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                                   tabindex="-1"
                                                                   th:with="formattedTitle=${itemModel.title.replace(' ', '-')+'/sezon-1'}"
                                                                   th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                                </a>
                                                                <a th:if="${itemModel.getClass().simpleName == 'MovieDto'}"
                                                                   class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
                                                                   tabindex="-1"
                                                                   th:with="formattedTitle=${itemModel.title.replace(' ', '-')}"
                                                                   th:href="@{/movies/{formattedTitle}(formattedTitle=${formattedTitle})} ">
                                                                </a>
                                                                <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"
                                                                     data-testhook="item-star" th:classappend="${itemModel.onUserList ? 'StarButton-module-isStarred-v2AtG' : ''}"
                                                                     th:attr="data-imdb-id=${itemModel.imdbId}"></div>
                                                                <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 rate-up"
                                                                     th:classappend="${itemModel.userRating != null ? (itemModel.userRating ? ' RateButtons-module-rateUp-S4se- RateButtons-module-active-n-0Gb' : ' RateButtons-module-rateUp-S4se-') : ' RateButtons-module-rateUp-S4se-'}"
                                                                     onclick="rate('up', this)" th:attr="data-imdbid=${itemModel.imdbId}" data-testhook="item-rating-up">
                                                                </div>
                                                                <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 rate-down"
                                                                     th:classappend="${itemModel.userRating != null ? (itemModel.userRating ? ' RateButtons-module-rateDown-DblB1' : ' RateButtons-module-rateDown-DblB1 RateButtons-module-active-n-0Gb') : ' RateButtons-module-rateDown-DblB1'}"
                                                                     onclick="rate('down', this)" th:attr="data-imdbid=${itemModel.imdbId}" data-testhook="item-rating-down"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
            <div th:replace="~{footer :: footer}"></div>
        </div>
    </div>
</div>
</div>

<script>
    document.querySelectorAll('.StarButton-module-container-sGC0y').forEach(button => {
        button.addEventListener('click', function () {
            var imdbId = this.getAttribute('data-imdb-id');

            var csrfToken = document.querySelector('meta[name="_csrf"]').content;
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            var headers = new Headers();
            headers.append(csrfHeader, csrfToken);

            var isStarred = this.classList.contains('StarButton-module-isStarred-v2AtG');

            var method = isStarred ? 'DELETE' : 'POST';

            var baseUrl = window.location.origin + '/library/';
            var apiUrl = (isStarred ? 'remove-from-list/' : 'add-to-list/') + imdbId;
            var fullUrl = baseUrl + apiUrl;

            fetch(fullUrl, {
                method: method,
                headers: headers
            })
                .then(response => {
                    if (response.ok) {
                        this.classList.toggle('StarButton-module-isStarred-v2AtG', !isStarred);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>
<script>
    function rate(direction, element) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);
        var imdbId = element.getAttribute('data-imdbid');

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.InteractionIcons-module-container-apGgr');
                    var rateUpIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-up"]');
                    var rateDownIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-down"]');
                    updateRatingUI(direction, rateUpIcon, rateDownIcon);
                }
            });
    }

    function updateRatingUI(direction, rateUpIcon, rateDownIcon) {
        rateUpIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-';
        rateDownIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1';

        if (direction === 'up') {
            rateUpIcon.classList.add('RateButtons-module-active-n-0Gb');
        } else if (direction === 'down') {
            rateDownIcon.classList.add('RateButtons-module-active-n-0Gb');
        }
    }
</script>
</body>
</html>