<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-login-page-f11Sa">
    <div id="content" >
        <div class="HeaderLogo-loginPage-ldwa21">
            <img th:src="@{/images/cineflix.png}" class="Logo-login-page-faFjw">
        </div>
        <div>
            <div class="Login-background-wrapper-f2K31">
                <img class="Hero-module-image-NlipI Hero-module-hideImage-CCOEY Hero-module-showImage-09J4b"
                     th:src="@{/images/cineflix-backgroud-loginpage-stronggradinet.png}">
            </div>

            <div class="Login-background-gradient-Fg3tK"></div>
        </div>
        <div>
            <div class="Modal_modalWrapper__GBKNS" role="dialog">
                <div class="Modal_modalBody__2_aM7">
                    <div class="flex flex-col items-center">
                        <h1 class="h1-login-form-header-HD2dE">Login</h1>
                        <form action="/login" th:action="@{/login}" method="post" class="login-form-windows" data-testid="login-form" name="login">
                            <div th:if="${message}" th:text="${message}" class="manage-message-login"></div>
                            <p th:if="${loginError}" class="manage-message-login" th:text="${loginError}"></p>
                            <p th:if="${param.logout}" class="algin-text-login-page">
                                You have been logged out, you can log in again.                            </p>
                            <div class="Input-login-window">
                                <input type="email" aria-describedby="show-password" id="username" placeholder="E-mail"
                                       required="" class="Input_input__cDdvD w-full" autocomplete="username"
                                       data-testid="login-email" name="username">
                            </div>
                            <div class="Input-login-window">
                                <input type="password" aria-describedby="show-password" placeholder="Password" required="" id="password"
                                       class="Input_input__cDdvD Input_visibilityOption__KuDsP"
                                       autocomplete="current-password" data-testid="login-password" name="password">
                                <label class="sr-only" for="password" hidden>Password</label>
                            </div>
                            <div class="submit-button-login-page">
                                <button type="submit"
                                        class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl"
                                        tabindex="0">Login
                                </button>
                            </div>
                        </form>
                        <div class="login-bottom-text-HD21d">
                        <div class="algin-text-login-page">
                        <span>Don't have a Cineflix account?
                            <a th:href="@{/register}" class="algin-text-login-page font-bold font-underline">Register here!</a>
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>

</body>
</html>