<!-- templates/media.html -->
<div class="Item-module-item-yTZtG
    Item-module-carouselItem-Q3n9V
    Item-module-landscapeItem-Sf-nw"
     th:id="${productId}"
     th:attr="data-product-id=${productId}">
  <div class="Item-module-box-4uBp3">
    <div class="Item-module-image-CGday"
         th:style="'background-image: url(\'' + ${imageUrl} + '\');'">
    </div>
    <a class="Item-module-link-Lms-C" tabindex="0"
       th:href="${mediaLink}">
      <div class="PlayButton-module-container-RmQKd PlayButton-module-landscape-dCM5E" tabindex="-1">
        <figure class="PlayButton-module-icon-q3WfE"></figure>
      </div>
    </a>
    <div class="Item-module-curtain-EV2Ya">
      <div class="InteractionIcons-module-container-apGgr">
        <a class="TooltipButton-module-container-PfKnw TooltipButton-module-isItem-R6NdL"
           th:data-identifier="${productId}"
           tabindex="-1" th:href="${mediaLink}">
        </a>
        <div class="StarButton-module-container-sGC0y StarButton-module-isItem-SdwJH"></div>
        <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-"></div>
        <div class="RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1">
        </div>
      </div>
    </div>
  </div>
  <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
</div>
