<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="javascript" th:href="@{/static/scripts/common.js}"/>
    <script src="../static/scripts/common.js"></script>

</head>
<body>

<div id="content-wrapper">
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div class="dockable"></div>
            <div class="blocksEnsembleContainer-module-container-ZXS1I">
                <div id="content" class="article" data-testhook="article">
                    <div class="dockable"></div>
                    <div class="blocksEnsembleContainer-module-container-ZXS1I">

                        <div class="ProductPage-module-container-oTkLV">
                            <div>
                                <div class="Hero-module-wrapper-7yHRB">
                                    <img class="Hero-module-image-NlipI Hero-module-hideImage-CCOEY Hero-module-showImage-09J4b"
                                         th:src="${movie.backgroundImageUrl}">
                                </div>
                                <div class="Hero-module-backdrop-be6rg"></div>
                                <div class="Hero-module-gradient-ieQvj"></div>
                            </div>
                            <section class="ProductPage-module-product-Him4n">
                                <div class="Scaffold-module-scaffold-F6aIC">

                                    <div class="ProductPage-module-upper-prt34">
                                        <div class="ProductPage-module-left-xugw2">
                                            <div>
                                                <div class="Thumb-module-container-mWyvN">
                                                    <img class="Thumb-module-poster-gpHtA" th:src="${movie.imageUrl}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ProductPage-module-wrapper-WZR1p">
                                            <div>
                                                <h1 class="Title-module-container-WuaoJ" th:text="${movie.title}">
                                                    Title
                                                </h1>
                                                <div class="ActionButton-module-container-iom96 ActionButton-module-product-qJKhU ActionButton-module-isLoggedIn-J00sd">
                                                    <div class="ActionButton-module-wrapper-movie-Gds43s">
                                                        <form class="movie-button" th:action="@{/add-movie-to-history/{imdbId}(imdbId=${movie.imdbId})}" method="post">
                                                            <button type="submit" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl Buttons-module-play-AAOaC" tabindex="0">
                                                                <span>Watch</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <a class="MyList-module-container-zkH2- Buttons-module-secondary-br7-v Buttons-module-icon-ODVKH"
                                                       tabindex="0">
                                                        <div class="MyList-module-myList-kmBI5"
                                                             data-testhook="item-star"
                                                             th:classappend="${movie.onUserList ? 'MyList-module-active-T4Dnx' : ''}"
                                                             th:attr="data-imdb-id=${movie.imdbId}"></div>
                                                    </a>
                                                    <a class="Rate-module-container-SmrTr Buttons-module-secondary-br7-v RatingButtons-module-icon-HDsa3"
                                                       data-testhook="rate-button-up" tabindex="0" onclick="rateMovie('up', this)"
                                                       th:attr="data-imdbid=${movie.imdbId}">
                                                        <div class="Rate-module-rate-GCdtz" th:classappend="${movie.userRating != null ? (movie.userRating ? ' Rate-module-activeRatingUp-XcMDm' : ' undefined') : ' null'}"></div>
                                                    </a>

                                                    <a class="Rate-module-container-SmrTr Buttons-module-secondary-br7-v RatingButtons-module-icon-HDsa3"
                                                       data-testhook="rate-button-down" tabindex="0" onclick="rateMovie('down', this)"
                                                       th:attr="data-imdbid=${movie.imdbId}">
                                                        <div class="Rate-module-rate-grszv" th:classappend="${movie.userRating != null ? (movie.userRating ? ' undefined' : ' Rate-module-activeRatingDown-XcMDm') : ' null'}"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ProductPage-module-meta-wyb-3">
                                        <div class="ProductPage-module-metaLeft-VrEtc">
                                            <p class="Facts-module-container-dFnqo">
                                                    <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <a class="ImdbRating-module-link-yYfI- ImdbRating-module-facts-DWrMz ImdbRating-module-hasDefaultTypography-luAjW"
                                                           th:href="@{${movie.imdbUrl}}" target="_blank"
                                                           rel="noopener noreferrer nofollow" tabindex="-1"
                                                           th:text="${movie.imdbRating}">
                                                            Imdb rating
                                                        </a>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO Divider-module-genres-ezeLN">
                                                        <a class="Genre-module-container-HcI4x Genre-module-hasDefaultTypography-VC0YE Genre-module-link-kGNTi"
                                                           tabindex="-1" th:text="${movie.genre}"
                                                           th:href="@{'/movies/'+${movie.genre.toLowerCase()}}">
                                                            Genre type
                                                        </a>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <span class="Year-module-container-60QAr Year-module-hasDefaultTypography-IO5bM"
                                                              th:text="${movie.releaseYear}">
                                                            Release year
                                                        </span>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <span class="ParentalRating-module-container-lxbzk ParentalRating-module-hasDefaultTypography-UP2B1">
                                                            <span th:text="${movie.ageLimit} + ' +'">
                                                                Age limit
                                                            </span>
                                                        </span>
                                                    </span>
                                            </p>
                                            <div class="ProductSynopsis-module-container-aYPIz">
                                                <div class="ProductSynopsis-module-synopsis-n5-Be">
                                                    <div class="Group-module-group--XDAf">
                                                        <div class="Synopsis-module-container-pmsNY Synopsis-module-hasDefaultTypography-5xyxY"
                                                             itemprop="description" th:text="${movie.description}">
                                                            Description
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ProductPage-module-metaRight-EZCO3">
                                            <div class="ProductDetails-module-container-L6eB1">
                                                <div class="ProductDetails-module-people-TMICK">
                                                    <div class="Group-module-group--XDAf">
                                                        <div class="">
                                                            <div>
                                                                <span class="PeopleList-module-title-voAAo">
                                                                    Cast
                                                                </span>
                                                                <div class="PeopleList-module-peoplearray-KNtVQ"
                                                                     th:text="${movie.staff}">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="Audio-module-container-OTfgl">
                                                                <span class="Audio-module-title-57qKh">
                                                                    <span>Language</span>
                                                                </span>
                                                            <span class="Audio-module-audio-VqD-r"
                                                                  th:text="${movie.languages}">
                                                                    Movie Languages
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div th:replace="~{fragments :: movies-carousel(genreTitle='Related movies', genre=${movie.genre.toLowerCase()}, movies=${moviesByGenre}, carouselId=${'carousel-' + movie.genre.toLowerCase()})}"></div>
                    </div>
                    <div th:replace="~{footer :: footer}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>
<script>
    document.querySelectorAll('.MyList-module-myList-kmBI5').forEach(button => {
        button.addEventListener('click', function () {
            var imdbId = this.getAttribute('data-imdb-id');

            var csrfToken = document.querySelector('meta[name="_csrf"]').content;
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            var headers = new Headers();
            headers.append(csrfHeader, csrfToken);

            var isStarred = this.classList.contains('MyList-module-active-T4Dnx');

            var method = isStarred ? 'DELETE' : 'POST';

            // Utwórz pełny adres URL
            var baseUrl = window.location.origin + '/library/';
            var apiUrl = (isStarred ? 'remove-from-list/' : 'add-to-list/') + imdbId;
            var fullUrl = baseUrl + apiUrl;

            fetch(fullUrl, {
                method: method,
                headers: headers
            })
                .then(response => {
                    if (response.ok) {
                        this.classList.toggle('MyList-module-active-T4Dnx', !isStarred);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>
<script>
    function rateMovie(direction, element) {
        var imdbId = element.getAttribute('data-imdbid');
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.ActionButton-module-container-iom96'); // Kontener przycisków
                    updateMovieRatingUI(direction, container);
                }
            });
    }
    function updateMovieRatingUI(direction, container) {
        var rateUpButton = container.querySelector('[data-testhook="rate-button-up"]');
        var rateDownButton = container.querySelector('[data-testhook="rate-button-down"]');
        var rateUpDiv = rateUpButton.querySelector('div');
        var rateDownDiv = rateDownButton.querySelector('div');

        if (direction === 'up') {
            // Przełączanie między klasami 'Rate-module-activeRatingUp-XcMDm' i 'undefined'
            if (rateUpDiv.classList.contains('Rate-module-activeRatingUp-XcMDm')) {
                rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
                rateUpDiv.classList.add('undefined');
            } else {
                rateUpDiv.classList.add('Rate-module-activeRatingUp-XcMDm');
                rateUpDiv.classList.remove('undefined');
            }
            rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');
            rateDownDiv.classList.add('undefined');
        } else if (direction === 'down') {
            if (rateDownDiv.classList.contains('Rate-module-activeRatingDown-XcMDm')) {
                rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');
                rateDownDiv.classList.add('undefined');
            } else {
                rateDownDiv.classList.add('Rate-module-activeRatingDown-XcMDm');
                rateDownDiv.classList.remove('undefined');
            }
            rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
            rateUpDiv.classList.add('undefined');
        }
    }

    function resetRatingButtons(rateUpButton, rateDownButton) {
        var rateUpDiv = rateUpButton.querySelector('div');
        var rateDownDiv = rateDownButton.querySelector('div');

        rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
        rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');

        if (!rateUpDiv.classList.contains('Rate-module-activeRatingUp-XcMDm') &&
            !rateDownDiv.classList.contains('Rate-module-activeRatingDown-XcMDm')) {
            rateUpDiv.classList.add('undefined');
            rateDownDiv.classList.add('undefined');
        }
    }
</script>
<script>
    function rate(direction, element) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);
        var imdbId = element.getAttribute('data-imdbid');

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.InteractionIcons-module-container-apGgr');
                    var rateUpIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-up"]');
                    var rateDownIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-down"]');
                    updateRatingUI(direction, rateUpIcon, rateDownIcon);
                }
            });
    }

    function updateRatingUI(direction, rateUpIcon, rateDownIcon) {
        rateUpIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-';
        rateDownIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1';

        if (direction === 'up') {
            rateUpIcon.classList.add('RateButtons-module-active-n-0Gb');
        } else if (direction === 'down') {
            rateDownIcon.classList.add('RateButtons-module-active-n-0Gb');
        }
    }
</script>

</body>
</html>