<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>

<div id="content-wrapper" class>
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div class="dockable"></div>
            <div class="blocksEnsembleContainer-module-container-ZXS1I">
                <div id="content" class="article" data-testhook="article">
                    <div class="dockable"></div>
                    <div class="Season-module-wrapper-H0oVh" data-testhook="season">
                        <div class="StickyDiv-module-mark-Me4XV StickyDiv-module-top-peA7i" style="top: 0px;"></div>
                        <div class="StickyDiv-module-container-Tiqyz SeasonsNavigation-module-season-FeQtK">
                            <section data-testhook="season-navigation">
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <div id="genrePicker" class="SeasonsNavigation-module-wrapper-dfFTz">
                                        <div class="SeasonsNavigation-module-container-PonSS">
                                            <button class="SeasonsNavigation-module-button-vAD9n"
                                                    data-testhook="genre-button" tabindex="0"
                                                    style="text-decoration: none;">
                                                <span>Gatunek</span>
                                            </button>
                                            <div class="SeasonsNavigation-module-dropdownWrapper-kC57-">
                                                <ul th:each="genre : ${genres}"
                                                    class="SeasonsNavigation-module-dropdown-Q3ieP"
                                                    style="max-height: 480.438px;">
                                                    <li class="SeasonButton-module-season-fRUUl"
                                                        data-testhook="season-navigation-link" tabindex="0">
                                                        <a th:href="@{'/series/' + ${genre.genreType.toLowerCase()}}">
                                                            <span class="SeasonButton-module-link-NG1PO"
                                                                  th:text="${genre.genreType}">Gatunek serialu</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="StickyDiv-module-mark-Me4XV StickyDiv-module-bot--lgll"
                             style="transform: translateY(-64px);"></div>
                    </div>

                    <div th:replace="~{fragments :: series-carousel(genreTitle=${dramaSeriesTitle}, genre=${dramaGenre}, series=${dramaSeries})}"></div>
                    <div th:replace="~{fragments :: series-carousel(genreTitle=${comedySeriesTitle}, genre=${comedyGenre}, series=${comedySeries})}"></div>
                    <div th:replace="~{fragments :: series-carousel(genreTitle=${actionSeriesTitle}, genre=${actionGenre}, series=${actionSeries})}"></div>
                </div>
                <div th:replace="~{footer :: footer}"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>

</body>
</html>