<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


</head>
<body>

<div id="content-wrapper" class>
    <div class="dockable"></div>
    <div id="react-mount">
        <div class="Layout-module-internal-page--krBv">
            <div th:replace="~{header :: header}"></div>
            <div class="dockable"></div>
            <div class="blocksEnsembleContainer-module-container-ZXS1I">
                <div id="content" class="article" data-testhook="article">
                    <div class="dockable"></div>
                    <div class="blocksEnsembleContainer-module-container-ZXS1I">

                        <div class="ProductPage-module-container-oTkLV">
                            <div>
                                <div class="Hero-module-wrapper-7yHRB">
                                    <img class="Hero-module-image-NlipI Hero-module-hideImage-CCOEY Hero-module-showImage-09J4b"
                                         th:src="${series.backgroundImageUrl}">
                                </div>
                                <div class="Hero-module-backdrop-be6rg"></div>
                                <div class="Hero-module-gradient-ieQvj"></div>
                            </div>
                            <section class="ProductPage-module-product-Him4n">
                                <div class="Scaffold-module-scaffold-F6aIC">

                                    <div class="ProductPage-module-upper-prt34">
                                        <div class="ProductPage-module-left-xugw2">
                                            <div>
                                                <div class="Thumb-module-container-mWyvN">
                                                    <img class="Thumb-module-poster-gpHtA" th:src="${series.imageUrl}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ProductPage-module-wrapper-WZR1p">
                                            <div>
                                                <h1 class="Title-module-container-WuaoJ" th:text="${series.title}">
                                                    Title
                                                </h1>
                                                <div class="ActionButton-module-container-iom96 ActionButton-module-product-qJKhU ActionButton-module-isLoggedIn-J00sd">
                                                    <div class="ActionButton-module-wrapper-movie-Gds43s">
                                                        <form th:action="@{/add-episode-to-history/{episodeId}(episodeId=${watchedEpisodes.id})}" method="post">
                                                            <button type="submit" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl Buttons-module-play-AAOaC">
                                                            <span th:text="'Season ' + ${watchedEpisodes.seasonNumber} + ' - Episode ' + ${watchedEpisodes.episodeNumber}">Season 1 - Episode 1</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <a class="MyList-module-container-zkH2- Buttons-module-secondary-br7-v Buttons-module-icon-ODVKH"
                                                       tabindex="0">
                                                        <div class="MyList-module-myList-kmBI5"
                                                             data-testhook="item-star"
                                                             th:classappend="${series.onUserList ? 'MyList-module-active-T4Dnx' : ''}"
                                                             th:attr="data-imdb-id=${series.imdbId}"></div>
                                                    </a>
                                                    <a class="Rate-module-container-SmrTr Buttons-module-secondary-br7-v RatingButtons-module-icon-HDsa3"
                                                       data-testhook="rate-button-up" tabindex="0" onclick="rateSerie('up', this)"
                                                       th:attr="data-imdbid=${series.imdbId}">
                                                        <div class="Rate-module-rate-GCdtz" th:classappend="${series.userRating != null ? (series.userRating ? ' Rate-module-activeRatingUp-XcMDm' : ' undefined') : ' null'}"></div>
                                                    </a>

                                                    <a class="Rate-module-container-SmrTr Buttons-module-secondary-br7-v RatingButtons-module-icon-HDsa3"
                                                       data-testhook="rate-button-down" tabindex="0" onclick="rateSerie('down', this)"
                                                       th:attr="data-imdbid=${series.imdbId}">
                                                        <div class="Rate-module-rate-grszv" th:classappend="${series.userRating != null ? (series.userRating ? ' undefined' : ' Rate-module-activeRatingDown-XcMDm') : ' null'}"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ProductPage-module-meta-wyb-3">
                                        <div class="ProductPage-module-metaLeft-VrEtc">
                                            <p class="Facts-module-container-dFnqo">
                                                    <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <a class="ImdbRating-module-link-yYfI- ImdbRating-module-facts-DWrMz ImdbRating-module-hasDefaultTypography-luAjW"
                                                           th:href="@{${series.imdbUrl}}" target="_blank"
                                                           rel="noopener noreferrer nofollow" tabindex="-1"
                                                           th:text="${series.imdbRating}">
                                                            Imdb rating
                                                        </a>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO Divider-module-genres-ezeLN">
                                                        <a class="Genre-module-container-HcI4x Genre-module-hasDefaultTypography-VC0YE Genre-module-link-kGNTi"
                                                           tabindex="-1" th:text="${series.genre}"
                                                           th:href="@{'/series/'+${series.genre.toLowerCase()}}">
                                                            Genre type
                                                        </a>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <span class="Year-module-container-60QAr Year-module-hasDefaultTypography-IO5bM"
                                                              th:text="${series.releaseYear}">
                                                            Release year
                                                        </span>
                                                    </span>
                                                <span class="Divider-module-divider-U-3-- Divider-module-hasDefaultTypography-Uy4EO">
                                                        <span class="ParentalRating-module-container-lxbzk ParentalRating-module-hasDefaultTypography-UP2B1">
                                                            <span th:text="${series.ageLimit} + ' +'">
                                                                Age limit
                                                            </span>
                                                        </span>
                                                    </span>
                                            </p>
                                            <div class="ProductSynopsis-module-container-aYPIz">
                                                <div class="ProductSynopsis-module-synopsis-n5-Be">
                                                    <div class="Group-module-group--XDAf">
                                                        <div class="Synopsis-module-container-pmsNY Synopsis-module-hasDefaultTypography-5xyxY"
                                                             itemprop="description" th:text="${series.description}">
                                                            Description
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ProductPage-module-metaRight-EZCO3">
                                            <div class="ProductDetails-module-container-L6eB1">
                                                <div class="ProductDetails-module-people-TMICK">
                                                    <div class="Group-module-group--XDAf">
                                                        <div class="">
                                                            <div>
                                                                <span class="PeopleList-module-title-voAAo">
                                                                    Cast
                                                                </span>
                                                                <div class="PeopleList-module-peoplearray-KNtVQ"
                                                                     th:text="${series.staff}">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="Season-module-wrapper-H0oVh" data-testhook="season">
                            <div class="StickyDiv-module-mark-Me4XV StickyDiv-module-top-peA7i"
                                 style="top: 0px;"></div>
                            <div class="StickyDiv-module-container-Tiqyz SeasonsNavigation-module-season-FeQtK">
                                <section data-testhook="season-navigation">
                                    <div class="Scaffold-module-scaffold-F6aIC">
                                        <div id="seasonPicker" class="SeasonsNavigation-module-wrapper-dfFTz">
                                            <div class="SeasonsNavigation-module-container-PonSS">
                                                <button class="SeasonsNavigation-module-button-vAD9n"
                                                        data-testhook="season-button" tabindex="0"
                                                        style="text-decoration: none;">
                                                    <span>Season [[${seasonDto.seasonNumber}]]</span>
                                                </button>
                                                <div class="SeasonsNavigation-module-dropdownWrapper-kC57-">
                                                    <ul th:each="season : ${seasons}"
                                                        class="SeasonsNavigation-module-dropdown-Q3ieP"
                                                        style="max-height: 480.438px;">
                                                        <li class="SeasonButton-module-season-fRUUl"
                                                            data-testhook="season-navigation-link" tabindex="0">
                                                            <a th:href="@{'/series/' + ${title} + '/sezon-' + ${season.seasonNumber}}">
                                                                <span class="SeasonButton-module-link-NG1PO">Season [[${season.seasonNumber}]]</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="StickyDiv-module-mark-Me4XV StickyDiv-module-bot--lgll"
                                 style="transform: translateY(-64px);"></div>
                            <section>
                                <div class="Scaffold-module-scaffold-F6aIC">
                                    <div class="EpisodesListing-module-container-E8UOe episode"
                                         data-testhook="season-episodes">
                                        <div class="EpisodesListing-module-grid-yMq1a">
                                            <div style="display: inline;" th:each="episode : ${episodes}">
                                                <div class="Episode-module-item-ePwVa"
                                                     data-product-id="${episode.id}" data-testhook="episode">
                                                    <div class="Episode-module-front-ksw4U">
                                                        <div class="Episode-module-image-ND-Ju"
                                                             th:style="'background-image: url(&quot;' + ${episode.imageUrl} + '&quot;);'">
                                                        </div>
                                                        <div class="Episode-module-backdrop-KXm-S" >
                                                            <form th:action="@{/add-episode-to-history/{episodeId}(episodeId=${episode.id})}" method="post">
                                                            <button type="submit" class="PlayButton-module-container-RmQKd
                                                                    PlayButton-module-show-B7cDu
                                                                    PlayButton-module-landscape-dCM5E
                                                                    PlayButton-module-forceHover-ubElK
                                                                    PlayButton-module-episode-IOzP7"
                                                                    data-testhook="play-button" tabindex="0">
                                                                    <figure class="PlayButton-module-icon-q3WfE"></figure>
                                                            </button>
                                                            </form>
                                                        </div>
                                                        <div th:if="${episode.watched}" class="Progress-module-watched-rejvO"></div>
                                                    </div>
                                                    <div class="Episode-module-labels-QC9tQ">
                                                        <div data-testhook="episode-title"
                                                             class="Episode-module-title-96shB"
                                                             th:text="${episode.episodeNumber} +'. ' + ${episode.episodeTitle}">
                                                        </div>
                                                        <div class="Episode-module-duration-UBHxK"
                                                             th:text="${episode.durationMinutes} +' min.'"></div>
                                                    </div>
                                                    <div class="Episode-module-synopsis-tyC-h"
                                                         th:text="${episode.episodeDescription}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div class="Carousel-module-container-o-YFo" data-testhook="carousel-container">
                                <div id="header-podobne-seriale" class="CarouselHeader-module-container-dBOIV"
                                     data-testhook="carousel-header">
                                    <section itemtype="">
                                        <div class="Scaffold-module-scaffold-F6aIC">
                                            <header class="CarouselHeader-module-wrapper-B8ict">
                                                <h2 class="Title-module-subheader--ZDhF undefined"
                                                    data-testhook="carousel-title">
                                                    Related series
                                                </h2>
                                            </header>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div th:replace="~{fragments :: series-carousel(genreTitle='Related series', genre=${series.genre.toLowerCase()}, series=${genre}, carouselId=${'carousel-' + series.genre.toLowerCase()})}"></div>
                    </div>
                    <div th:replace="~{footer :: footer}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>
<script>
    document.querySelectorAll('.MyList-module-myList-kmBI5').forEach(button => {
        button.addEventListener('click', function () {
            var imdbId = this.getAttribute('data-imdb-id');

            var csrfToken = document.querySelector('meta[name="_csrf"]').content;
            var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            var headers = new Headers();
            headers.append(csrfHeader, csrfToken);

            var isStarred = this.classList.contains('MyList-module-active-T4Dnx');

            var method = isStarred ? 'DELETE' : 'POST';

            // Utwórz pełny adres URL
            var baseUrl = window.location.origin + '/library/';
            var apiUrl = (isStarred ? 'remove-from-list/' : 'add-to-list/') + imdbId;
            var fullUrl = baseUrl + apiUrl;

            fetch(fullUrl, {
                method: method,
                headers: headers
            })
                .then(response => {
                    if (response.ok) {
                        this.classList.toggle('MyList-module-active-T4Dnx', !isStarred);
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    });

</script>
<script>
    function rateSerie(direction, element) {
        var imdbId = element.getAttribute('data-imdbid');
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.ActionButton-module-container-iom96'); // Kontener przycisków
                    updateMovieRatingUI(direction, container);
                }
            });
    }
    function updateMovieRatingUI(direction, container) {
        var rateUpButton = container.querySelector('[data-testhook="rate-button-up"]');
        var rateDownButton = container.querySelector('[data-testhook="rate-button-down"]');
        var rateUpDiv = rateUpButton.querySelector('div');
        var rateDownDiv = rateDownButton.querySelector('div');

        if (direction === 'up') {
            if (rateUpDiv.classList.contains('Rate-module-activeRatingUp-XcMDm')) {
                rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
                rateUpDiv.classList.add('undefined');
            } else {
                rateUpDiv.classList.add('Rate-module-activeRatingUp-XcMDm');
                rateUpDiv.classList.remove('undefined');
            }
            rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');
            rateDownDiv.classList.add('undefined');
        } else if (direction === 'down') {
            if (rateDownDiv.classList.contains('Rate-module-activeRatingDown-XcMDm')) {
                rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');
                rateDownDiv.classList.add('undefined');
            } else {
                rateDownDiv.classList.add('Rate-module-activeRatingDown-XcMDm');
                rateDownDiv.classList.remove('undefined');
            }
            rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
            rateUpDiv.classList.add('undefined');
        }
    }

    function resetRatingButtons(rateUpButton, rateDownButton) {
        var rateUpDiv = rateUpButton.querySelector('div');
        var rateDownDiv = rateDownButton.querySelector('div');

        rateUpDiv.classList.remove('Rate-module-activeRatingUp-XcMDm');
        rateDownDiv.classList.remove('Rate-module-activeRatingDown-XcMDm');

        if (!rateUpDiv.classList.contains('Rate-module-activeRatingUp-XcMDm') &&
            !rateDownDiv.classList.contains('Rate-module-activeRatingDown-XcMDm')) {
            rateUpDiv.classList.add('undefined');
            rateDownDiv.classList.add('undefined');
        }
    }
</script>
<script>
    function rate(direction, element) {
        var csrfToken = document.querySelector('meta[name="_csrf"]').content;
        var csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        var headers = new Headers();
        headers.append(csrfHeader, csrfToken);
        var imdbId = element.getAttribute('data-imdbid');

        fetch('/rate/' + direction + '/' + imdbId, { method: 'POST', headers: headers })
            .then(response => {
                if (response.ok) {
                    var container = element.closest('.InteractionIcons-module-container-apGgr');
                    var rateUpIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-up"]');
                    var rateDownIcon = container.querySelector('[data-imdbid="' + imdbId + '"][data-testhook="item-rating-down"]');
                    updateRatingUI(direction, rateUpIcon, rateDownIcon);
                }
            });
    }

    function updateRatingUI(direction, rateUpIcon, rateDownIcon) {
        rateUpIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateUp-S4se-';
        rateDownIcon.className = 'RateButtons-module-container-oL7lm RateButtons-module-isItem-5vKa8 RateButtons-module-rateDown-DblB1';

        if (direction === 'up') {
            rateUpIcon.classList.add('RateButtons-module-active-n-0Gb');
        } else if (direction === 'down') {
            rateDownIcon.classList.add('RateButtons-module-active-n-0Gb');
        }
    }
</script>

</body>
</html>