<div style="display: block;">
  <div class="CarouselHeader-module-container-dBOIV">
    <section itemtype="">
      <div class="Scaffold-module-scaffold-F6aIC">
        <header class="CarouselHeader-module-wrapper-B8ict">
          <h2 class="Title-module-subheader--ZDhF" th:text="${seriesPromoBoxMainTitle}">
            Series PromoBox title
          </h2>
        </header>
      </div>
    </section>
  </div>
  <section>
    <div class="Scaffold-module-scaffold-F6aIC">
      <div class="MosaicLite-module-container-kmYfB MosaicLite-module-block5-iSivd">
        <div th:each="promoItem : ${seriesPromoBox}"
             class="Item-module-item-yTZtG
             Item-module-carouselItem-Q3n9V
             Item-module-landscapeItem-Sf-nw
             Item-module-mosaicGridItem-XKjcG"
             th:id="'series-' + ${promoItem.imdbId}"
             th:data-product-id="${promoItem.imdbId}">
          <div class="Item-module-box-4uBp3">
            <a class="Item-module-link-Lms-C"
               tabindex="-1"
               th:with="formattedTitle=${promoItem.title.replace(' ', '-')}"
               th:href="@{/series/{formattedTitle}(formattedTitle=${formattedTitle})} ">
              <div class="Item-module-image-CGday"
                   th:style="'background-image: url('' + ${promoItem.imageUrl} + '');'">
              </div>
            </a>
          </div>
          <div class="Item-module-below-BMw6u Item-module-padding-kgN3F"></div>
        </div>
      </div>
    </div>
  </section>
</div>
