<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin" th:text="'Administration panel - add episode ' + ${episodeNumber} + ' ,season ' + ${seasonNumber}">Administration panel -add episode</h1>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <div id="customDialogOverlay" class="custom-dialog-overlay">
                <div id="customDialogBox" class="custom-dialog-box">
                    <p>Do you want to add next episode to this season?</p>
                    <button onclick="submitForm('addEpisode')">Add episode</button>
                    <button onclick="submitForm('addSeason')">Finish season</button>
                </div>
            </div>
            <form id="episodeForm" th:action="@{/admin/add-episode/{seriesId}/{seasonNumber}/{episodeNumber}(seriesId=${seriesId}, seasonNumber=${seasonNumber}, episodeNumber=${episodeNumber})}" method="post" th:object="${episode}">
                <div th:if="${#message}" th:text="${message}" class="alert alert-danger"></div>
                <div class="grid-container">
                    <input type="hidden" name="seasonsCount" th:value="${seasonsCount}">
                    <tr>
                        <td><input class="text-input-style" type="text" name="episodeTitle" th:field="*{episodeTitle}" placeholder="Title" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="mediaUrl" th:field="*{mediaUrl}" placeholder="Media URL" pattern="^(https?://www\.|https?://|www\.)\S+" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="imageUrl" th:field="*{imageUrl}" pattern="^(https?://www\.|https?://|www\.)\S+" placeholder="Image URL"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="durationMinutes" th:field="*{durationMinutes}" placeholder="Duration [min]" required pattern="^(?:[1-9]|[1-9][0-9]|1[0-9]{2}|2[0-3][0-9]|240)$"></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="episodeDescription" th:field="*{episodeDescription}" placeholder="Description"  required></td>
                    </tr>
                </div>
                <div class="submit-button-movie-page">
                    <button type="button" onclick="showConfirmDialog()" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl" tabindex="0">Add</button>
                    <input type="hidden" id="action" name="action" value="">
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>

</body>
<script>
    function showConfirmDialog() {
        var form = document.getElementById("episodeForm");
        if (form.checkValidity()) {
            document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
        } else {
            form.reportValidity();
        }
    }

    function submitForm(actionValue) {
        document.getElementById("action").value = actionValue;
        document.getElementById("episodeForm").submit();
        document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
    }
</script>



</html>