<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin">Panel administracyjny - edytuj epizod</h1>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <form th:action="@{/update-episode}" method="post" th:object="${episode}">
                <div th:if="${#message}" th:text="${message}" class="alert alert-danger"></div>
                <div class="grid-container">
                    <td>
                        <input class="text-input-style" type="hidden" name="imdbId" th:field="*{id}" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="episodeTitle" th:field="*{episodeNumber}" placeholder="Numer epizodu" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="episodeTitle" th:field="*{episodeTitle}" placeholder="Wpisz tytuł epizodu" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="mediaUrl" th:field="*{imageUrl}" pattern="^(https?://www\.|https?://|www\.)\S+" placeholder="Wpisz adres URL zdjęcia epizodu"
                                   required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="mediaUrl" th:field="*{mediaUrl}" placeholder="URL mediów" pattern="^(https?://www\.|https?://|www\.)\S+" required></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="durationMinutes" th:field="*{durationMinutes}" placeholder="Czas trwania [min]" required pattern="^(?:[1-9]|[1-9][0-9]|1[0-9]{2}|2[0-3][0-9]|240)$"></td>
                    </tr>
                    <tr>
                        <td><input class="text-input-style" type="text" name="episodeDescription" th:field="*{episodeDescription}" placeholder="Opis epizodu"  required></td>
                    </tr>
                </div>
                <div class="submit-button-movie-page">
                    <button type="submit" class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl" tabindex="0">Edytuj epizod</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>

</body>
<script>
    function showConfirmDialog() {
        var form = document.getElementById("episodeForm");
        if (form.checkValidity()) {
            document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
        } else {
            form.reportValidity();
        }
    }

    function submitForm(actionValue) {
        document.getElementById("action").value = actionValue;
        document.getElementById("episodeForm").submit();
        document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
    }
</script>



</html>