<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin">Administration panel - Manage series</h1>
    <div th:if="${success}" th:text="${success}" class="alert manage-success"></div>
    <div th:if="${error}" th:text="${error}" class="alert manage-error"></div>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <div id="customDialogOverlay" class="custom-dialog-overlay">
                <div id="customDialogBox" class="custom-dialog-box">
                    <p>Are you sure you want to delete this series?</p>
                    <button onclick="submitForm('deleteSeries')">Yes</button>
                    <button onclick="submitForm('dontDeleteSeries')">No</button>
                </div>
            </div>
            <input type="hidden" id="action" value="">
            <table class="series-table">
                <thead>
                <tr>
                    <th>ImdbId</th>
                    <th>Title</th>
                    <th>Seasons</th>
                    <th>Release year</th>
                    <th>Age limit</th>
                    <th>Description</th>
                    <th>Cast</th>
                    <th>Genre</th>
                    <th>Promoted</th>
                    <th>IMDb rating</th>
                    <th>Rate UP</th>
                    <th>Rate DOWN</th>
                    <th>       </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="series : ${allSeriesInService}">
                    <td th:text="${series.imdbId}">Title</td>
                    <td th:text="${series.title}">Title</td>
                    <td th:text="${series.seasonsCount}">Title</td>
                    <td th:text="${series.releaseYear}">Release Year</td>
                    <td th:text="${series.ageLimit}">Age limit</td>
                    <td th:text="${series.description}">Description</td>
                    <td th:text="${series.staff}">Staff</td>
                    <td th:text="${series.genre}">Genre</td>
                    <td th:text="${series.promoted}">Is promoted</td>
                    <td th:text="${series.imdbRating}">Imdb Rating</td>
                    <td th:text="${series.rateUpCount}">Imdb Rating</td>
                    <td th:text="${series.rateDownCount}">Imdb Rating</td>
                    <td>
                        <a th:href="@{'/admin/edit-series/' + ${series.imdbId}}" title="Edit" th:text=" Edit "></a>
                        <a href="#" title=" Delete " th:text="Delete" id="deleteSeries" th:onclick="showConfirmDialog()" th:attr="data-imdbId=${series.imdbId}"></a>
                        <div>
                            <a th:href="@{'/admin/edit-series-seasons/' + ${series.imdbId}}" title="Zarządzaj_sezonami" th:text="'Manage seasons'"></a>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>
<script>
    function showConfirmDialog() {
        var imdbId = event.target.getAttribute('data-imdbId');
        document.getElementById("action").value = imdbId;
        document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
    }

    function submitForm(confirmAction) {
        if (confirmAction === 'deleteSeries') {
            var imdbId = document.getElementById("action").value;
            window.location.href = '/admin/delete-series/' + imdbId + '?action=deleteSeries';
        } else {
            document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
        }
    }
</script>

</body>
</html>