<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cineflix</title>
  <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
  <div th:replace="~{header :: header}"></div>
  <h1 class="page-header-admin">Administration panel - Edit series carousels</h1>
  <div id="content" class="admin-panel">
    <div th:replace="~{admin/sidebar :: sidebar}"></div>
    <div class="main-content">
      <form th:action="@{/admin/manage-series-carousels/save}" method="post">
        <div th:if="${message}" th:text="${message}" class="alert alert-danger"></div>
        <div class="grid-container">
          <div th:each="entry : ${genresWithStatus}">
            <input type="checkbox" th:name="selectedGenres" th:value="${entry.key}" th:checked="${entry.value}" />
            <label th:text="${entry.key}"></label><br/>
          </div>
        </div>
        <div class="submit-button-movie-page">
          <button type="submit"
                  class="PlayButtonText-module-container-tunCR Buttons-module-primary--YHdl"
                  tabindex="0">Edit
          </button>
        </div>
      </form>
    </div>
  </div>
  <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>

</body>
</html>