<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin">Administration panel - manage movies</h1>
    <div th:if="${success}" th:text="${success}" class="alert manage-success"></div>
    <div th:if="${error}" th:text="${error}" class="alert manage-error"></div>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <div id="customDialogOverlay" class="custom-dialog-overlay">
                <div id="customDialogBox" class="custom-dialog-box">
                    <p>Are you sure you want to delete this video?</p>
                    <button onclick="submitForm('deleteMovie')">Yes</button>
                    <button onclick="submitForm('dontDeleteMovie')">No</button>
                </div>
            </div>
            <input type="hidden" id="action" value="">
            <table class="movie-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Release year</th>
                    <th>Age limit</th>
                    <th>Description</th>
                    <th>Cast</th>
                    <th>Directed By</th>
                    <th>Languages</th>
                    <th>Genre</th>
                    <th>Promoted</th>
                    <th>IMDb rating</th>
                    <th>       </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${allMoviesInService}">
                    <td th:text="${movie.title}">Title</td>
                    <td th:text="${movie.releaseYear}">Release Year</td>
                    <td th:text="${movie.ageLimit}">Age limit</td>
                    <td th:text="${movie.description}">Description</td>
                    <td th:text="${movie.staff}">Staff</td>
                    <td th:text="${movie.directedBy}">Directed By</td>
                    <td th:text="${movie.languages}">Languages</td>
                    <td th:text="${movie.genre}">Genre</td>
                    <td th:text="${movie.promoted}">Is promoted</td>
                    <td th:text="${movie.imdbRating}">Imdb Rating</td>
                    <td>
                        <a th:href="@{'/admin/edit-movie/' + ${movie.imdbId}}" title="Edit" th:text="Edit">
                        </a>
                        <a href="#" title="Delete" th:text="Delete" id="deleteMovie" th:onclick="showConfirmDialog()" th:attr="data-imdbId=${movie.imdbId}"></a>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>
<script>
    function showConfirmDialog() {
        var imdbId = event.target.getAttribute('data-imdbId');
        document.getElementById("action").value = imdbId;
        document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
    }

    function submitForm(confirmAction) {
        if (confirmAction === 'deleteMovie') {
            var imdbId = document.getElementById("action").value;
            window.location.href = '/admin/delete-movie/' + imdbId + '?action=deleteMovie';
        } else {
            document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
        }
    }
</script>

</body>
</html>