<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViaPlay</title>
    <link rel="stylesheet" href="/styles/main.css" th:href="@{/styles/main.css}" type="text/css">
</head>
<body>

<div class="Layout-module-internal-page--krBv">
    <div th:replace="~{header :: header}"></div>
    <h1 class="page-header-admin">Panel administracyjny - zarządzaj filmami</h1>
    <div th:if="${success}" th:text="${success}" class="alert manage-success"></div>
    <div th:if="${error}" th:text="${error}" class="alert manage-error"></div>
    <div id="content" class="admin-panel">
        <div th:replace="~{admin/sidebar :: sidebar}"></div>
        <div class="main-content">
            <div id="customDialogOverlay" class="custom-dialog-overlay">
                <div id="customDialogBox" class="custom-dialog-box">
                    <p>Czy na pewno chcesz usunąć ten film?</p>
                    <button onclick="submitForm('deleteMovie')">Tak</button>
                    <button onclick="submitForm('dontDeleteMovie')">Nie</button>
                </div>
            </div>
            <input type="hidden" id="action" value="">
            <table class="movie-table">
                <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Rok wydania</th>
                    <th>Limit wieku</th>
                    <th>Opis filmu</th>
                    <th>Obsada</th>
                    <th>Reżyser</th>
                    <th>Języki</th>
                    <th>Gatunek</th>
                    <th>Promowanie</th>
                    <th>Ocena IMDb</th>
                    <th>       </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${allMoviesInService}">
                    <td th:text="${movie.title}">Title</td>
                    <td th:text="${movie.releaseYear}">Release Year</td>
                    <td th:text="${movie.ageLimit}">Age limit</td>
                    <td th:text="${movie.description}">Description</td>
                    <td th:text="${movie.staff}">Staff</td>
                    <td th:text="${movie.directedBy}">Directed By</td>
                    <td th:text="${movie.languages}">Languages</td>
                    <td th:text="${movie.genre}">Genre</td>
                    <td th:text="${movie.promoted}">Is promoted</td>
                    <td th:text="${movie.imdbRating}">Imdb Rating</td>
                    <td>
                        <a th:href="@{'/edit-movie/' + ${movie.imdbId}}" title="Edytuj" th:text="Edytuj">
                        </a>
                        <a href="#" title="Usuń" th:text="Usuń" id="deleteMovie" th:onclick="showConfirmDialog()" th:attr="data-imdbId=${movie.imdbId}"></a>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
</div>
</div>
<script>
    function showConfirmDialog() {
        var imdbId = event.target.getAttribute('data-imdbId');
        document.getElementById("action").value = imdbId;
        document.getElementById("customDialogOverlay").classList.add("custom-dialog-shown");
    }

    function submitForm(confirmAction) {
        if (confirmAction === 'deleteMovie') {
            var imdbId = document.getElementById("action").value;
            window.location.href = '/delete-movie/' + imdbId + '?action=deleteMovie';
        } else {
            document.getElementById("customDialogOverlay").classList.remove("custom-dialog-shown");
        }
    }
</script>

</body>
</html>