#content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
div {
    display: block;
}

.dockable {
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    z-index: 20;
}
element.style {
}

body {
    color: #eee;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 0
}
.Layout-module-internal-page--krBv {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.Navigation-module-container-2t2XT {
    position: relative;
    width: 100%
}
header {
    display: block;
}

.Navigation-module-wrapper-VDNDW {
    display: flex;
    height: inherit;
    justify-content: center;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 12
}
.Navigation-module-wrapper-VDNDW>* {
    height: 100%
}
.Navigation-module-sections-tzP7z .Navigation-module-center-wYtEz,.Navigation-module-sections-tzP7z .Navigation-module-right-643YK,.Navigation-module-sections-tzP7z>.Navigation-module-left-FaRmB {
    vertical-align: top
}

.Navigation-module-left-FaRmB {
    position: relative
}

.HeaderLogo-module-headerLogo-lWX4m {
    cursor: pointer;
    display: block;
    margin-top: 12px
}

.HeaderLogo-module-link-kdP1e {
    display: block;
    margin-top: 8px;
    padding: 8px 8px 0
}
a,a:hover {
    color: #eee
}
a {
    text-decoration: none
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.Logo-module-logo-pfYdr {
    height: 24px;
    width: 98px
}


img {
    border: none
}

img {
    /*mod content-box*/
    overflow-clip-margin: unset;
    overflow: clip;
}

@media screen and (min-width: 1010px) and (max-width:1279px) {
    .NavigationItems-module-center-cd-0t {
        padding:12px 24px
    }
}

.NavigationItems-module-center-cd-0t {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 12px 60px 12px 38px;
    position: relative
}

nav {
    display: block;
}

.NavigationItems-module-center-cd-0t>* {
    float: left
}

@media screen and (min-width: 1010px) and (max-width:1279px) {
    .NavigationItem-module-item-vXU-- {
        padding: 8px
    }



}

.NavigationItem-module-item-vXU-- {
    border-radius: 8px;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    opacity: .6;
    padding: 8px 20px;
    text-decoration: none
}
.NavigationItems-module-center-cd-0t:after {
    clear: both;
    content: "";
    display: block
}


